<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Villo!-{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/images/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/villo.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Villo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/station">
                <span class="glyphicon glyphicon-map-marker"></span>&nbsp;
                Stations
              </a>
            </li>
            {% if user %}
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-th-large"></span>&nbsp;
                Dashboard
              </a>
            </li>
            <li>
              <a href="/history">
                <span class="glyphicon glyphicon-time"></span>&nbsp;
                Historique
              </a>
            </li>
            {% if not user.is_admin() %}
            <li>
              <a href="/billing">
                <span class="glyphicon glyphicon-euro"></span>&nbsp;
                Factures
              </a>
            </li>
            {% endif %}
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
            <!--<li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li> -->
              <li>
                {% if user.is_admin() %}
                <a style="color: red;">
                {% else %}
                <a>
                {% endif %}
                  <span class="glyphicon glyphicon-user"></span>&nbsp;
                  {{ user.niceName() }}
                </a>
              </li>
            <li>
              <a href="/logout">
                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                Déconnexion
              </a>
            </li>
            {% else %}
            <li>
              <a href="/login">
                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                Connexion
              </a>
            </li>
            <li>
              <a href="/subscription">
                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                Inscription
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block container %}
    <div class="container">
    {% endblock %}
      {% for category, msg in get_flashed_messages(with_categories=true) %}
        <div role="alert" class="alert alert-{{ category }}">
          <strong>{{ msg }}</strong>
        </div>
      {% endfor %}
      {% block content %} {% endblock %}
      <footer>
        {% block footer %}
        <hr>
        <p>&copy; Villo! 2015</p>
        {% endblock %}
      </footer>
    </div><!-- /.container -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
