{% extends "base.html" %}

{% block title %}Historique{% endblock %}

{% block content %}


<div class="jumbotron">
    <h1>Factures</h1>
    <h3> Période de facturation {{periodeBilling[0]}} -> {{periodeBilling[1]}} </h3>
</div>

<div class="villo">

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    &nbsp; Abonnement
                </h2>
            </div>
            <ul class="list-group panel-body">
                <li class="list-group-item ">
                    <h4>
                        Carte 1 an
                    </h4>
                    {{periodeBilling[0]}}
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        {{periodeBilling[1]}}.
                        <span class="badge alert-info">
                            32.60 &euro;
                        </span>
                </li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                    &nbsp; Dépenses récentes
                </h2>
                15 derniers voyages ayant dépassé 30 minutes
            </div>
            <ul class="list-group panel-body">
                {% for trip in trip_list[:15] %}
                    <li class="list-group-item {% if not trip.finished %}active{% endif %}">
                        <h4>
                            {{trip.departure_date.date().strftime("%d/%m/%Y")}}
                            {% if not trip.finished %} (en cours) {% endif %}
                        </h4>
                        {{trip.departure_station.name}}
                        ({{trip.departure_date.time().strftime("%Hh%M")}})
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            {{trip.arrival_station.name}}
                            ({{trip.arrival_date.time().strftime("%Hh%M")}}).
                        <span class="badge alert-info">
                                {{ (trip.price()) }} &euro;
                        </span>

                    </li>
                {% endfor %}
                {% if trip_list==[]%}
                <h4>Aucune dépense</h4>
                {% endif %}
            </ul>
        </div>
    </div>
        <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                    &nbsp; Vue d'ensemble
                </h2>
            </div>
            <ul class="list-group panel-body">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-tags"></span>&nbsp;
                    <b>Numéro utilisateur</b>
                    <span class="badge alert-info">{{user.id}}</span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
                    <b>Carte de banque</b>
                    <span class="badge alert-info">{{user.card}}</span>
                </li>
                {% if user.expire_date %}
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                    <b>Expiration</b>
                    {% if user.expired %}
                    <span class="badge alert-danger">{{user.expire_date}}</span>
                    {% else %}
                    <span class="badge alert-success">{{user.expire_date}}</span>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-euro"></span>&nbsp;
                    <b>Total</b>
                    <span class="badge alert-warning">{{totalBilled}}</span>
                </li>
                {% endif %}
            </ul>
        </div>
            <form class="downloaddetails" action="billing" method="POST">
            <button type="submit" class="btn btn-default" aria-label="Left Align" >
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                Télécharger une facture détaillée
            </button>
            </form>
    </div>

    <!--<ul>
        {% for trip in trip_list %}
        <li>
            De {{trip.departure_station.name}} ({{trip.departure_date}})
            à  {{trip.arrival_station.name}} ({{ trip.arrival_date }}) Prix ({{ trip.price() }})
        </li>
        {% endfor %}

    </ul>-->
</div>

{% endblock %}