{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <h1>Villo!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          &nbsp; Infos utilisateur
        </h2>
      </div>
      
      <ul class="list-group panel-body">
        {% if user.is_subscriber() %}
        <li class="list-group-item">
          <span class="glyphicon glyphicon-user"></span>&nbsp;
          <b>Nom</b>
          <span class="badge alert-info">{{user.firstname}} {{user.lastname}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-home"></span>&nbsp;
          <b>Adresse</b>
          <span class="badge alert-info">{{user.address}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-earphone"></span>&nbsp;
          <b>Numéro de téléphone</b>
          <span class="badge alert-info">{{user.phone_number}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-qrcode"></span>&nbsp;
          <b>Carte à puce</b>
          <span class="badge alert-info">{{user.rfid}}</span>
        </li>
        {% endif %}
        <li class="list-group-item">
          <span class="glyphicon glyphicon-tags"></span>&nbsp;
          <b>Numéro utilisateur</b>
          <span class="badge alert-info">{{user.id}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
          <b>Carte de banque</b>
          <span class="badge alert-info">{{user.card}}</span>
        </li>
        {% if user.expire_date %}
        <li class="list-group-item">
          <span class="glyphicon glyphicon-calendar"></span>&nbsp;
          <b>Expiration</b>
          {% if user.expired %}
          <span class="badge alert-danger">{{user.expire_date}}</span>
          {% else %}
          <span class="badge alert-success">{{user.expire_date}}</span>
          {% endif %}
        </li>
        {% endif %}
      </ul>
      {% if user.expired %}
        <form class="form-signin" action="subscription" method="GET">
          <button class="btn btn-lg btn-warning btn-block" type="submit">Renouveller votre abonnement</button>
        </form>
      {% endif %}
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
          &nbsp; {{month_name}}
        </h2>
      </div>

      <ul class="list-group panel-body">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-stats"></span>&nbsp;
          <b>Nombre de trajet</b>
          <span class="badge alert-info">{{month_trip_nbr}}</span>
        </li>
          <li class="list-group-item">
          <span class="glyphicon glyphicon-road"></span>&nbsp;
          <b>Kilomètres parcourus</b>
          <span class="badge alert-info">{{month_kilometer}}</span>
        </li>
          <li class="list-group-item">
          <span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
          <b>Somme dépensée</b>
          <span class="badge alert-info">{{month_price}}</span>
        </li>

      </ul>
    </div>

    {% if user.is_admin() %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          &nbsp; Vélos à réparer
        </h2>
      </div>
      <ul class="list-group panel-body">
        {% for bike in broken_bikes %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <b>Villo {{ bike.id }}</b>
              <em>{{ bike.model }}</em>
            </div>
            <div class="col-md-4">
              {# A bike could not be repared if not accessible by admin #}
              {% if bike.location or user.has_bike(bike.id) %}
              <a href="/repair/{{bike.id}}" class="btn btn-success" title="Réparer">
              {% else %}
              <a href="/repair/{{bike.id}}" class="btn btn-danger disabled" title="Ce villo est inacessible à la réparation">
              {% endif %}
                <span class="glyphicon glyphicon-wrench" style="color:white;"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="badge">
                {% if bike.location %}
                <a href="/station/{{bike.location.id}}" style="color:white;">
                {{bike.location.name}}
                </a>
                {% else %}
                En déplacement
                {% endif %}
              </span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
          &nbsp; Trajets récents
        </h2>
        15 derniers voyages
      </div>
  
      <ul class="list-group panel-body">
        {% for trip in user.trips[:15] %}
          <li class="list-group-item {% if not trip.finished %}active{% endif %}">
            <div class="row">
              <div class="col-md-10">
                <h4>
                  {{trip.departure_date.date().strftime("%d/%m/%Y")}}
                  {% if not trip.finished %} (en cours) {% endif %}
                </h4>
                <a href="/station/{{trip.departure_station_id}}">
                  {{trip.departure_station.name}}
                </a>
                ({{trip.departure_date.time().strftime("%Hh%M")}})
                {% if trip.finished %}
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                  <a href="/station/{{trip.arrival_station_id}}">
                    {{trip.arrival_station.name}}
                  </a>
                  ({{trip.arrival_date.time().strftime("%Hh%M")}}).
                  <span class="badge alert-info">
                    {{ (trip.duration().total_seconds() // 60)|int }} minutes {{ (trip.duration().total_seconds() % 60)|int }} secondes
                  </span>
                {% else %}
                  <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                  <span class="badge alert-warning">
                    {{ (trip.duration().total_seconds() // 60)|int }} minutes {{ (trip.duration().total_seconds() % 60)|int }} secondes
                  </span>
                {% endif %}
              </div>
              <div class="col-md-2">
                {% with bike = trip.bike %}
                <h4>Villo {{bike.id}}</h4>
                {% if bike.usable %}
                <a href="/problem/{{bike.id}}" class="btn btn-warning" title="Signaler un problème avec ce villo">
                  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                </a>
                {% elif user.is_admin() %}
                <a href="/repair/{{bike.id}}" class="btn btn-success" title="Marquer comme réparé">
                  <span class="glyphicon glyphicon-wrench" style="color:white;"></span>
                </a>
                {% else %}
                <button class="btn btn-danger disabled" 
                        type="submit" data-toggle="tooltip" data-placement="bottom" 
                        title="Ce villo est signalé comme inutilisable">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                </button>
                {% endif %}
                {% endwith %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}