{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          &nbsp; Infos utilisateur
        </h2>
      </div>
      
      <ul class="list-group panel-body">
        {% if user.is_subscriber() %}
        <li class="list-group-item">
          <span class="glyphicon glyphicon-user"></span>&nbsp;
          <b>Nom</b>
          <span class="badge alert-info">{{user.firstname}} {{user.lastname}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-home"></span>&nbsp;
          <b>Adresse</b>
          <span class="badge alert-info">{{user.address_streenumber}} {{user.address_street}} {{user.address_street}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-earphone"></span>&nbsp;
          <b>Numéro de téléphone</b>
          <span class="badge alert-info">{{user.phone_number}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-qrcode"></span>&nbsp;
          <b>Carte à puce</b>
          <span class="badge alert-info">{{user.rfid}}</span>
        </li>
        {% endif %}
        <li class="list-group-item">
          <span class="glyphicon glyphicon-tags"></span>&nbsp;
          <b>Numéro utilisateur</b>
          <span class="badge alert-info">{{user.id}}</span>
        </li>
        <li class="list-group-item">
          <span class="glyphicon glyphicon-credit-card"></span>&nbsp;
          <b>Carte de banque</b>
          <span class="badge alert-info">{{user.card}}</span>
        </li>
        {% if user.expire_date %}
        <li class="list-group-item">
          <span class="glyphicon glyphicon-calendar"></span>&nbsp;
          <b>Expiration</b>
          {% if user.expired %}
          <span class="badge alert-danger">{{user.expire_date}}</span>
          {% else %}
          <span class="badge alert-success">{{user.expire_date}}</span>
          {% endif %}
        </li>
        {% endif %}
      </ul>
      {% if user.expired %}
        <form class="form-signin" action="subscription" method="GET">
          <button class="btn btn-lg btn-warning btn-block" type="submit">Renouveller votre abonnement</button>
        </form>
      {% endif %}
    </div>

    {% if user.is_admin() %}
    {# Repair panel #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          &nbsp; Vélos à réparer
        </h2>
      </div>
      <ul class="list-group panel-body">
        {% for bike in broken_bikes %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-10">
              <b>Villo {{ bike.id }}</b>
              <em>{{ bike.model }}</em>
            </div>
            <div class="col-xs-2">
              {# A bike could not be repared if not accessible by admin #}
              {% if bike.location or user.has_bike(bike.id) %}
              <a href="/repair/{{bike.id}}" class="btn btn-success" title="Réparer">
              {% else %}
              <a href="/repair/{{bike.id}}" class="btn btn-danger disabled" title="Ce villo est inacessible à la réparation">
              {% endif %}
                <span class="glyphicon glyphicon-wrench" style="color:white;"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="badge">
                {% if bike.location %}
                <a href="/station/{{bike.location.id}}" style="color:white;">
                {{bike.location.name}}
                </a>
                {% else %}
                En déplacement
                {% endif %}
              </span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% else %}
    {# Month panel #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
          &nbsp; {{month_name}}
        </h2>
      </div>

      <ul class="list-group panel-body">
        <li class="list-group-item">
          <span class="glyphicon glyphicon-stats"></span>&nbsp;
          <b>Nombre de trajets</b>
          <span class="badge alert-info">{{month_trip_nbr}}</span>
        </li>
          <li class="list-group-item">
          <span class="glyphicon glyphicon-road"></span>&nbsp;
          <b>Distance parcourue</b>
          <span class="badge alert-info">{{month_kilometer}}km</span>
        </li>
          <li class="list-group-item">
          <span class="glyphicon glyphicon-piggy-bank"></span>&nbsp;
          <b>Coût hors forfait</b>
          <span class="badge alert-info">{{month_price}}&euro;</span>
        </li>

      </ul>
    </div>
    {% endif %}
  </div>

  <div class="col-md-8">
    {# Recent trips panel #}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
          &nbsp; Trajets récents
        </h2>
        15 derniers voyages
      </div>
  
      <ul class="list-group panel-body">
        {% for trip in user.trips[:15] %}
          <li class="list-group-item {% if not trip.finished %}active{% endif %}">
            {% include "partials/trip.html" %}
          </li>
        {% endfor %}
          {% if user.trips == [] %}
          <li class="list-group-item">
              <h4>Vous n'avez encore effectué aucun trajet</h4>
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}