{% extends "base.html" %}

{% block title %}Historique{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                    &nbsp; Tous vos trajets
                </h2>

            </div>
            <ul class="list-group panel-body">
               {% for month,trip_list in trips_by_month %}
                    <li class="list-group-item" id="month_{{ month.replace(' ','_') }}">
                        <div class="row bg-info">
                            <div class="col-xs-1">
                                <h2><span class="glyphicon glyphicon-calendar"></span></h2>
                            </div>
                            <div class="col-xs-11">
                                <h2>{{month}}</h2>
                                <p>
                                    <em>{{ trip_list|count }} trajet{{trip_list|count|plur}}</em>
                                </p>
                            </div>
                        </div>
                    </li>
                    {% for trip in trip_list %}
                    <li class="list-group-item {% if not trip.finished %}active{% endif %}">
                        {% include "partials/trip.html" %}
                    </li>
                    {% endfor %}
                {% endfor %}
                {% if trips_by_month == [] %}
                <li class="list-group-item">
                    <h4>Vous n'avez encore effectué aucun trajet</h4>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    &nbsp; Statistiques
                </h2>
            </div>
            <ul class="list-group panel-body">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-road"></span>&nbsp;
                    <b>Nombre de trajets</b>
                    <span class="badge alert-info">{{user.trips|length}}</span>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-road"></span>&nbsp;
                    <b>Kilomètrage à vol d'oiseau</b>
                    <span class="badge alert-info">{{minimum_km}}</span>
                </li>
            </ul>
        </div>
        <form class="downloaddetails" action="history" method="POST">
            <button type="submit" class="btn btn-default" aria-label="Left Align" >
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                Télécharger l'ensemble des trajets (*.csv)
            </button>
        </form>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <span class="glyphicon glyphicon-indent-left" aria-hidden="true"></span>
                    &nbsp; Accès rapide
                </h2>
            </div>
            <ul class="list-group panel-body">
                {% for month,trip_list in trips_by_month %}
                    <li class="list-group-item">
                        <a href="#month_{{month.replace(' ', '_')}}">{{month}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}