{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <h1>Villo!</h1>
      <h2>Vous n'êtes actuellement pas connecté</h2>
      <a href="subscription" class="btn btn-primary">
        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
        Inscription
      </a>
      <a href="login" class="btn btn-success">
        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
        Connexion
      </a>
    </div>
    <div class="col-md-5 thumbnail">
      <img src="/static/images/home.gif">
    </div>
  </div>
</div>
{% endblock %}