{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}


<div class="container">

    {% if loginFailure %}
     <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Erreur:</span>
    Le nom d'utilisateur ou le mot de passe n'est pas correct
    </div>

    {% endif %}

    <div class="jumbotron">
        <h2>Connexion</h2>
       <p> Pas encore abonné ? Rendez vous sur la page d'inscription</p>
    </div>

      <form class="form-signin" action="login" method="POST">
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
      </form>
</div>

{% endblock %}