<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            &nbsp; {{station.name}}
        </h3>
    </div>
    <div class="list-group panel-body">
        <div class='progress'>
            <div class='progress-bar' role='progressbar' 
                 aria-valuenow='{{station.available_bikes}}' aria-valuemin='0' 
                 aria-valuemax='{{station.capacity}}' 
                 style="width: {{100.0*station.available_bikes/station.capacity}}%;">
            </div>
        </div>
        <strong style="display: block;">
            {% if station.payment %}
            <abbr title="Terminal de payement disponible">
                <span class="glyphicon glyphicon-credit-card" style="color: green;"></span>
            </abbr>
            {% endif %}
            {{station.available_bikes}} vélos / {{station.capacity}} places
        </strong>
    </div>
</div>