<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            <span class="label label-info">{{station.id}}</span>
            &nbsp; {{station.name}}
        </h3>
    </div>
    <div class="list-group panel-body">
        <div class='progress'>
            <div class='progress-bar progress-bar-danger' role='progressbar' 
                 style="width: {{100.0*station.broken_bikes/station.capacity}}%;">
            </div>
            <div class='progress-bar progress-bar-success' role='progressbar' 
                 style="width: {{100.0*station.available_bikes/station.capacity}}%;">
            </div>
        </div>
        <strong style="display: block;">
            {% if station.payment %}
            <abbr title="Terminal de payement disponible">
                <span class="glyphicon glyphicon-credit-card" style="color: green;"></span>
            </abbr>
            {% endif %}
            {{station.available_bikes}} vélos utilisables&nbsp;/&nbsp;
            {{station.capacity - (station.available_bikes + station.broken_bikes)}} places libres
        </strong>
    </div>
</div>