<div class="panel panel-default" style="min-width: 300px;">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3">
                <h3><span class="label label-primary">{{station.id}}</span></h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <h3>{{station.name}}</h3>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class='progress'>
                <div class='progress-bar progress-bar-warning' role='progressbar' 
                     style="width: {{100.0 * station.broken_bikes / station.capacity}}%;">
                </div>
                <div class='progress-bar progress-bar-success' role='progressbar' 
                     style="width: {{100.0 * station.available_bikes / station.capacity}}%;">
                </div>
                <div class="progress-bar progress-bar-info" role="progressbar"
                     style="width: {{100.0 * station.free_slots / station.capacity}}%;">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                {% if station.payment %}
                <abbr title="Terminal de payement disponible">
                    <span class="glyphicon glyphicon-credit-card" style="color: green;"></span>
                </abbr>
                {% endif %}
            </div>
            <div class="col-md-7">
                {% if station.available_bikes > 0 %}
                <span class="label label-success">
                    {{station.available_bikes}} vélo{{station.available_bikes|plur}} utilisable{{station.available_bikes|plur}}
                </span><br>
                {% endif %}
                {% if station.free_slots > 0 %}
                <span class="label label-info">
                    {{station.free_slots}} place{{station.free_slots|plur}} libre{{station.free_slots|plur}}
                </span><br>
                {% endif %}
                {% if station.broken_bikes > 0 %}
                <span class="label label-warning">
                    {{station.broken_bikes}} vélo{{station.broken_bikes|plur}} cassé{{station.broken_bikes|plur}}
                </span>
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if user %}
                    {% if user.is_admin() %}
                    <a href="/station/{{station.id}}" class="btn btn-primary" title="Prendre ou déposer un villo! ici">
                        <span style="color: white;" class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    {% elif user.current_trip %}
                    <a href="/drop/{{station.id}}/bike/{{user.current_trip.bike_id}}" class="btn btn-success" title="Déposer mon Villo! ici">
                        <span style="color: white;" class="glyphicon glyphicon-arrow-down"></span>
                    </a>
                    {% elif not user.expired and station.available_bikes > 0 %}
                    <a href="/station/{{station.id}}" class="btn btn-primary" title="Louer un Villo! ici">
                        <span style="color: white;" class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                    {% else %}
                    <a href="/subscription" class="btn btn-warning" title="Renouvelez votre abonnement pour louer un Villo! ici">
                        <span style="color: white;" class="glyphicon glyphicon-shopping-cart"></span>
                    </a>
                    {% endif %}
                {% else %}
                    <a href="/subscription" class="btn btn-warning" title="Inscrivez-vous pour louer un Villo! ici">
                        <span style="color: white;" class="glyphicon glyphicon-list-alt"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
