{% extends "base.html" %}

{% block title %}Station {{station.name}}{% endblock %}

{% block head %}
<link type="text/css" href="/static/3rdparty/leaflet/leaflet.css" rel="stylesheet">
<script type="text/javascript" src="/static/3rdparty/leaflet/leaflet.js"></script>
{% endblock %}

{% block content %}
<div style="display: none;" id="station-popup">
  {% include "map_station_popup.html" %}
</div>

<div class="jumbotron">
  <h1>{{station.name}}</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="map-unique"></div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          &nbsp; Prenez un Villo
        </h2>
      </div>
      
      <ul class="list-group panel-body">
        {% for bike in station.bikes %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">
              <b>Villo {{ bike.id }}</b>
              <em>{{ bike.model }}</em>
            </div>
            <div class="col-md-4">
              {% if (bike.usable and not user.current_trip) or user.is_admin() %}
              <a href="/rent/{{station.id}}/bike/{{bike.id}}" class="btn btn-primary">Louer</a>
              <a href="/problem/{{bike.id}}" class="btn btn-warning" title="Signaler un problème avec ce villo">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              </a>
              {% else %}
              <span class="label label-warning">Inutilisable</span>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% if user.is_admin() %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          &nbsp; Déposez un Villo
        </h2>
      </div>
      <ul class="list-group panel-body">
        {% for trip in user.active_trips %}
        {% with bike = trip.bike %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">
              <b>Villo {{ bike.id }}</b>
              <em>{{ bike.model }}</em>
            </div>
            <div class="col-md-4">
              <a class="btn btn-primary" href="/drop/{{station.id}}/bike/{{bike.id}}">
                <span class="sr-only">Déposer le villo {{bike.id}} ici</span>
                <span class="glyphicon glyphicon-arrow-down" style="color:white;"></span>
              </a>
            </div>
          </div>
        </li>
        {% endwith %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var map = L.map('map-unique').setView([{{station.latitude}}, {{station.longitude}}], 15);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([{{station.latitude}}, {{station.longitude}}]).bindPopup($('#station-popup').html()).addTo(map);
});
</script>
{% endblock %}