{% extends "base.html" %}

{% block title %}Stations{% endblock %}

{% block head %}
<link type="text/css" href="static/3rdparty/leaflet/leaflet.css" rel="stylesheet">
<script type="text/javascript" src="static/3rdparty/leaflet/leaflet.js"></script>
{% endblock %}

{% block content %}
<div id="map"></div>

<script type="text/javascript">
$(document).ready(function(){
    var map = L.map('map').setView([50.8453943, 4.3746165], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    {% for station in station_list %}
    L.marker([{{station.latitude}}, {{station.longitude}}]).addTo(map)
        .bindPopup('#{{station.id}} {{station.name}} ({{station.capacity}} places)');
    console.log("Added {{station.id}}");
    {% endfor %}
});
</script>
{% endblock %}