{% extends "base.html" %}

{% block title %}Stations{% endblock %}

{% block head %}
<link type="text/css" href="static/3rdparty/leaflet/leaflet.css" rel="stylesheet">
<script type="text/javascript" src="static/3rdparty/leaflet/leaflet.js"></script>
{% endblock %}

{% block content %}
<div id="map"></div>
<div style="display: none;" id="loading-popup-template">
    <div class="progress" style="width: 200px;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" 
             aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width:100%;">
             <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    var map = L.map('map').setView([50.8453943, 4.3746165], 13);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var loading_template = $('#loading-popup-template').html();

    var load_popup = function(popupevent){
        var popup = popupevent.popup;
        var url = popup.getContent();
        if (url.match('^/map_station_popup/[0-9]+')){
            popup.setContent(loading_template);
            $.get(url, function(html){popup.setContent(html);});
        }
    }

    var marker;
    {% for station in station_list %}
    marker = L.marker([{{station.latitude}}, {{station.longitude}}]);
    marker.bindPopup('/map_station_popup/{{station.id}}');
    marker.addTo(map);
    marker.on('popupopen', load_popup);
    {% endfor %}
});
</script>
{% endblock %}