<div class="row">
  <div class="col-xs-10">
    <h4>
      {{trip.departure_date.date().strftime("%d/%m/%Y")}}
      {% if not trip.finished %} (en cours) {% endif %}
    </h4>

    {% if trip.is_insertion() %}

      <div class="row"><div class="col-xs-12">
        <a href="/station/{{trip.departure_station_id}}">
          {{trip.departure_station.name}}
        </a>
        ({{trip.departure_date.time().strftime("%Hh%M")}})
      </div></div>
      <div class="row"><div class="col-xs-12">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <span class="badge alert-info">Mise en service</span>
      </div></div>

    {% elif trip.finished %}

      <div class="row"><div class="col-xs-12">
        <a href="/station/{{trip.departure_station_id}}">
          {{trip.departure_station.name}}
        </a>
        ({{trip.departure_date.time().strftime("%Hh%M")}})
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        <a href="/station/{{trip.arrival_station_id}}">
          {{trip.arrival_station.name}}
        </a>
        ({{trip.arrival_date.time().strftime("%Hh%M")}}).
      </div></div>
      <div class="row"><div class="col-xs-12">
        <span class="badge alert-info">
          {{ trip.duration()|dt }}
        </span>
        
        {% if not user.is_admin() %}
          {% if trip.price() > 0 %}
          <span class="badge alert-warning">
            {{ trip.price() }}&euro;
          </span>
          {% else %}
          <span class="badge alert-success">
            gratuit
          </span>
          {% endif %}
        {% endif %}

        <span class="badge">
          {{trip.distance()}}km
        </span>
      </div></div>

    {% else %}

      <div class="row"><div class="col-xs-12">
        <a href="/station/{{trip.departure_station_id}}">
          {{trip.departure_station.name}}
        </a>
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
        ({{trip.departure_date.time().strftime("%Hh%M")}})
      </div></div>
      <div class="row"><div class="col-xs-12">
        <span class="badge alert-warning">
        {{ trip.duration()|dt }}
        </span>

        {% if not user.is_admin() %}
          {% if trip.price() > 0 %}
          <span class="badge alert-warning">
            {{ trip.price() }}&euro;
          </span>
          {% else %}
          <span class="badge alert-success">
            gratuit
          </span>
          {% endif %}
        {% endif %}
      </div></div>

    {% endif %}
  </div>
  <div class="col-xs-2">
    {% with bike = trip.bike %}
    <h4>Villo {{bike.id}}</h4>
    {% if bike.usable %}
    <a href="/problem/{{bike.id}}" class="btn btn-warning" title="Signaler un problème avec ce villo">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    </a>
    {% elif user.is_admin() %}
    <a href="/repair/{{bike.id}}" class="btn btn-success" title="Marquer comme réparé">
      <span class="glyphicon glyphicon-wrench" style="color:white;"></span>
    </a>
    {% else %}
    <button class="btn btn-danger disabled" 
        type="submit" data-toggle="tooltip" data-placement="bottom" 
        title="Ce villo est signalé comme inutilisable">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </button>
    {% endif %}
    {% endwith %}
  </div>
</div>